<!DOCTYPE html>
<html lang="en" data-ng-app="mainApp">
    <head>
        <title>Robot</title>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="img/BB8-100x100.png" rel="icon" type="image/png" >

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css">
        
	    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	    <link href="css/sticky-footer.css" rel="stylesheet">
	    <script src="js/libs/ie-emulation-modes-warning.js"></script>
    </head>
    <body data-ng-controller="IndexController as ctrl">
        <div class="row">        
            <div class="col-md-2">
	            <div class="text-center">
	              	<label>Scenario: </label>
	              	<select data-ng-model="ctrl.scenario" data-ng-change="ctrl.changeScenario(ctrl.scenario)">
	              		<option>House</option>
	              		<option>Star Wars</option>
	              	</select>
	        	</div>               
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading" id="areaHeader">
                    	<div class="row">
                    		<div class="col-xs-3">
			                	<button id="btnLeft" data-ng-click="ctrl.moveTo('left')" class="btn btn-primary btn-block" ><span class="glyphicon glyphicon-arrow-left"></span></button>
							</div>
                    		<div class="col-xs-3">
			                	<button id="btnUp" data-ng-click="ctrl.moveTo('up')" class="btn btn-primary btn-block" ><span class="glyphicon glyphicon-arrow-up"></span></button>
			                </div>
			                <div class="col-xs-3">
			                	<button id="btnRight" data-ng-click="ctrl.moveTo('right')" class="btn btn-primary btn-block" ><span class="glyphicon glyphicon-arrow-right"></span></button>
			                </div>
			                <div class="col-xs-3">    
			                	<button id="btnDown" data-ng-click="ctrl.moveTo('down')" class="btn btn-primary btn-block" ><span class="glyphicon glyphicon-arrow-down"></span></button>
			                </div>
	                   </div>
                    </div>
                    <div class="panel-body img-responsive" id="areaBody" data-ng-style="{'background-image':'url({{ctrl.backgroundImageUrl}})'}">
                        <div id="area">
                            <img id="robo" src="img/robot-house.png"/>
                        </div>
                    	<span class="label label-default">Position: {{ctrl.position}}</span>
		                <div class="pull-right">
		                	<span class="label label-default">application: {{ctrl.properties.name}}</span>
		                	<span class="label label-default">version: {{ctrl.properties.version}}</span>
		                	<span class="label label-default">java: {{ctrl.properties.java}}</span>
		                </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
		<script src="js/libs/jquery.min.1.11.1.js"></script>
		<script src="js/libs/bootstrap.min.js"></script>
		<script src="js/libs/angular.min.js"></script>
       	<script src="js/libs/sockjs/sockjs.min.js"></script>
		<script src="js/libs/stomp/lib/stomp.min.js"></script>
		<script src="js/libs/ie10-viewport-bug-workaround.js"></script>
		
        <script src="js/app/app.js"></script>
        <script src="js/app/controllers/IndexController.js"></script>
        <script>
            document.querySelector('body').addEventListener('keydown', function(event) {
                var tecla = event.keyCode;

                if(tecla == 37){
                    $("#btnLeft").click();
                }else if(tecla == 38){
                    $("#btnUp").click();
                }else if(tecla == 39){
                    $("#btnRight").click();
                }else if(tecla == 40){
                    $("#btnDown").click();
                }
            });
        </script>
    </body>
</html>