<!DOCTYPE html>
<html lang="en" data-ng-app="mainApp">
    <head>
        <title>Robot</title>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="img/BB8-100x100.png" rel="icon" type="image/png" >

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/style.css">
        
	    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	    <link href="css/sticky-footer.css" rel="stylesheet">
	    <script src="js/libs/ie-emulation-modes-warning.js"></script>
    </head>
    <body data-ng-controller="IndexController as ctrl">
        <div class="row">        
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading text-center" id="areaHeader">
                    	<img class="pull-left" alt="Robot" src="img/BB8-100x100.png" style="width: 40px; height: 40px;">
                        <button id="btnLeft" data-ng-click="ctrl.moveToLeft()" class="btn btn-primary" ><span class="glyphicon glyphicon-arrow-left"></span></button>
                        <button id="btnUp" data-ng-click="ctrl.moveToUp()" class="btn btn-primary" ><span class="glyphicon glyphicon-arrow-up"></span></button>
                        <button id="btnRight" data-ng-click="ctrl.moveToRight()" class="btn btn-primary" ><span class="glyphicon glyphicon-arrow-right"></span></button>
                        <button id="btnDown" data-ng-click="ctrl.moveToDown()" class="btn btn-primary" ><span class="glyphicon glyphicon-arrow-down"></span></button>
                    </div>
                    <div class="panel-body" id="areaBody">
                        <div id="area">
                            <img id="robo" src="img/BB8-100x100.png"/>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
	    <footer class="footer">
	      <div class="container text-center">
	        <p class="text-muted">Robot 2017</p>
	      </div>
	    </footer>        

		<script src="js/libs/jquery.min.1.11.1.js"></script>
		<script src="js/libs/bootstrap.min.js"></script>
		<script src="js/libs/angular.min.js"></script>
       	<script src="js/libs/sockjs/sockjs.min.js"></script>
		<script src="js/libs/stomp/lib/stomp.min.js"></script>
		<script src="js/libs/ie10-viewport-bug-workaround.js"></script>
		
        <script src="js/app/app.js"></script>
        <script src="js/app/controllers/IndexController.js"></script>
        <script>
            document.querySelector('body').addEventListener('keydown', function(event) {
                var tecla = event.keyCode;

                if(tecla == 37){
                    $("#btnLeft").click();
                }else if(tecla == 38){
                    $("#btnUp").click();
                }else if(tecla == 39){
                    $("#btnRight").click();
                }else if(tecla == 40){
                    $("#btnDown").click();
                }
            });
        </script>
    </body>
</html>